.h{
    display: inline;
    font-weight:800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8px;
}
body{
    background-color: rgb(240, 240, 240);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    background-color: white;
    width: 58%;
    border-radius: 20px;
    margin: 12px 0;
    position: relative;
    height: 450px;
}
.imgb{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.imgb1{
    width: 60%;
    height: 300px;
    border-radius: 20px;
    left: 20px;
    top: 20px;

}
.cdarea{
    background-color: rgb(240, 240, 240);
    width: 58%;
    border-radius: 20px;
    margin: 12px 0;
    position: relative;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
}
.img1{
    background-color: white;
    width: 58%;
    border-radius: 20px;
    margin: 12px 0;
    position: relative;
    height: 300px;
    display: flex;
    border: solid black 1px;
}
.cdarea article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    color: rgb(50, 50, 50);
    background-color: white;
    border-radius: 15px;
    width: 42%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.icon{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 48px;
    margin: 0;
}
.over{
    position: absolute;
    color: rgb(240, 240, 240);
    z-index: 2;
    top: 64px;
    margin-left: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    width: 50%;
    background-image: linear-gradient(to right, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.6));
    border-radius: 15px;
    padding :15px;
    display: flex;
    flex-direction: column;
}
.div1{
    justify-content: space-around;
    margin-top: 64px;
}
.div2{
    justify-content: flex-end;
}
#x{
    right: 10px;
    text-align: right;
    margin-left: 0;
    z-index: 0;
    width: 30%;
    background-image: linear-gradient(to left, rgba(30, 30, 30, 0.9), rgba(30, 30, 30, 0.7));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    color: whitesmoke;
}
#chris{
    right: 20px;
    width: 30%;
}
#date{
    left: 20px;
    top: auto;
    bottom: 20px;
    width: 30%;
    background-image: none;
}
#date h2{
    display: inline;
    margin-bottom: 0;
}